.sectionWrapper {
  width: 100%;
  margin-top: 35px;
}

.showAll {
  color: var(--primary-color);
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 30px 20px 0 20px;
}

.header p {
  font-size: 20px;
  font-weight: 600;
}

.cardsWrapper {
  display: flex;
  flex-direction: row; /* Ensure cards are laid out horizontally */
  gap: 25px; /* Space between cards */
  flex-wrap: wrap; /* Allow wrapping of rows if necessary */
  padding: 20px; /* Adjust padding as needed */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.wrapper {
  display: flex;
  flex-direction: row; /* Ensure cards are laid out horizontally */
  gap: 25px; /* Space between cards */
  flex-wrap: nowrap; /* Prevent wrapping; ensure horizontal layout */
  overflow-x: auto; /* Enable horizontal scrolling */
  overflow-y: hidden; /* Hide vertical overflow */
  padding: 0; /* Ensure no extra padding affects layout */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.wrapper::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

.toggleText {
  margin-right: 10px;
  cursor: pointer;
  color: var(--color-primary);
}

.genreTab {
  color: var(--color-white) !important;
}

.genreTab.Mui-selected {
  color: #34c94b !important;
}

@media (min-width: 800px) {
  .cardsWrapper {
    margin: 20px 40px 40px 40px;
  }
  .header {
    margin: 0 20px;
  }
}

@media (max-width: 600px) {
  .wrapper {
    gap: 15px; /* Adjust spacing for smaller screens */
  }
}
