.sectionWrapper {
  width: 100%;
  margin-top: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 0 20px;
}

.header p {
  font-size: 18px;
  font-weight: 600;
}

.showAll {
  color: #28a745;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
}
.cardsWrapper {
  margin: 10px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 20px; /* Space between cards */
  box-sizing: border-box; /* Ensure the total width includes padding and margins */
}

.expanded {
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr)); /* Ensure space between cards */
}

.sectionSeparator {
  border: none;
  border-top: 1px solid #28a745;
  margin: 20px 0;
}
