@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
:root {
  --primary-color: #34c94b;
  --white-color: #ffffff;
  --black-color: #121212;
}
body {
  background-color: var(--black-color);
  color: var(--white-color);
  overflow-x: hidden;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif !important;
}

hr {
  border: 1px solid var(--primary-color);
}

.swiper-slide {
  width: auto !important;
}

.hero {
  z-index: 1000;
  position: relative;
}

.nav {
  width: 100vw;
  height: 75px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  position: sticky;
  top: 0;
  z-index: 5;
}
